linux/doc/latex/siunitx/CHANGELOG.md
linux/doc/latex/siunitx/README.md
linux/doc/latex/siunitx/siunitx-code.pdf
linux/doc/latex/siunitx/siunitx.pdf
linux/source/latex/siunitx/siunitx-abbreviation.dtx
linux/source/latex/siunitx/siunitx-angle.dtx
linux/source/latex/siunitx/siunitx-binary.dtx
linux/source/latex/siunitx/siunitx-code.tex
linux/source/latex/siunitx/siunitx-command.dtx
linux/source/latex/siunitx/siunitx-complex.dtx
linux/source/latex/siunitx/siunitx-compound.dtx
linux/source/latex/siunitx/siunitx-emulation.dtx
linux/source/latex/siunitx/siunitx-locale.dtx
linux/source/latex/siunitx/siunitx-number.dtx
linux/source/latex/siunitx/siunitx-print.dtx
linux/source/latex/siunitx/siunitx-quantity.dtx
linux/source/latex/siunitx/siunitx-symbol.dtx
linux/source/latex/siunitx/siunitx-table.dtx
linux/source/latex/siunitx/siunitx-unit.dtx
linux/source/latex/siunitx/siunitx.dtx
linux/source/latex/siunitx/siunitx.ins
linux/source/latex/siunitx/siunitx.tex
linux/tex/latex/siunitx/siunitx-abbreviations.cfg
linux/tex/latex/siunitx/siunitx-binary.cfg
linux/tex/latex/siunitx/siunitx-v2.sty
linux/tex/latex/siunitx/siunitx-version-1.cfg
linux/guias_pt.aux
linux/guias_pt.bbl
linux/guias_pt.blg
linux/guias_pt.lof
linux/guias_pt.log
linux/guias_pt.out
linux/guias_pt.toc
linux/ltxcmds.sty.old
linux/siunitx.sty
linux/siunitx.tds.zip
linux/bibliografia.bib.bak
linux/bibliografia.bib.sav.tmp
linux/D7MJK1.txt
token.txt
